diff --git a/.gitignore b/.gitignore
index 55fcca203ff420451bb0e1e1232a39a56e17c09f..b6d6f9696052a89660d9ba7fe5d5a06a594fb5bd 100644
--- a/.gitignore
+++ b/.gitignore
@@ -1,34 +1,35 @@
 # Node modules
 node_modules/
 
 # Logs
 npm-debug.log*
 logs
 *.log
 yarn-debug.log*
 yarn-error.log*
 
 # Runtime data
 pids
 *.pid
 *.pid.lock
 
 # Coverage directory
 coverage/
 
 # Production build directory
-build/
+build/*
+!build/icon.png
 dist/
 
 # OS files
 .DS_Store
 
 # Environment files
 .env
 
 # Editor directories and files
 .idea/
 .vscode/
 
 # File storing command usage history
 usage.json
